div.stickynote{
    background-color: #f5c056;
    -webkit-box-shadow: 10px 10px 29px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 29px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 29px -7px rgba(0,0,0,0.75);
    margin-bottom: 25px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border: 1px solid #7a717a;

}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    } 